<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../styles/checkout.css">
    <link href="../styles/notyf.min.css" rel="stylesheet">
    <script src="../scripts/ifUserLoggedIn.js"defer ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"defer ></script>   <!-- sweet alert cdn  -->
    <!-- <link rel="stylesheet" href="../styles/footer.css"> importing these here because we are importing html using jquery -->
    <link rel="stylesheet" href="../styles/header.css"><!-- importing these here because we are importing html using jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header></header><!-- importing from header.html file  -->
    <main>
        <!-- Main Section -->

        <section class="payment-section section_sizing">

            <div class="container">


                <div class="box box-1">

                    <h1 id="title">Upgrade your account to <span></span> </h1>
                    <br>
                    <p class="validity"><span>Validity:</span><span id="validity-date">dd mm yyyy - dd mm yyyy</span></p>

                    <!-- Div will apear according to the data stored in the local storage -->

                    <!-- Engage plan -->
                    <div class="plan-box" id="engage">
                        <h1>What you'll get</h1>
                        <ul>
                            <li>Up to 200 participants</li>
                            <li>Unlimited Audience Q&A</li>
                            <li>Unlimited polls and quizzes</li>
                            <li>Basic privacy options</li>
                            <li>Data exports and more</li>
                        </ul>
                        <hr>
                        <h2>Total: US$ <span class="price">180.00</span></h2>
                        <p>1 license (1 user included) x US$ 15.00 x 12 months</p>
                        <hr>
                    </div>


                    <!-- Pro plan -->
                    <div class="plan-box" id="pro">
                        <h1>What you'll get</h1>
                        <ul>
                            <li>Up to 1000 participants</li>
                            <li>Unlimited Audience Q&A</li>
                            <li>Unlimited polls and quizzes</li>
                            <li>Data exports</li>
                            <li>Moderation of questions</li>
                            <li>Branding</li>
                            <li>Advanced privacy options</li>
                            <li>Team collaboration and more</li>
                        </ul>
                        <hr>
                        <h2>Total: US$ <span class="price">720.00</span></h2>
                        <p>1 license (2 users included) x US$ 60.00 x 12 months</p>
                        <hr>
                    </div>


                    <!-- Enterprise plan -->
                    <div class="plan-box" id="enterprise">
                        <h1>What you'll get</h1>
                        <ul>
                            <li>Up to 5000 participants</li>
                            <li>Unlimited Audience Q&A</li>
                            <li>Unlimited polls and quizzes</li>
                            <li>Advanced privacy options</li>
                            <li>Data exports</li>
                            <li>Moderation of questions</li>
                            <li>Branding</li>
                            <li>Team collaboration</li>
                            <li>Professional onboarding</li>
                            <li>SSO for users & participants</li>
                            <li>User provisioning and more</li>
                        </ul>
                        <hr>
                        <h2>Total: US$ <span class="price">1,800.00</span></h2>
                        <p>1 license (3 users included) x US$ 150.00 x 12 months</p>
                        <hr>
                    </div>

                </div>


                <!-- Credit Card Section Starts -->

                <div class="wrapper" id="app">

                    <div class="card-form">
                        <div class="card-list">
                            <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                                <div class="card-item__side -front">
                                    <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }"
                                        v-bind:style="focusElementStyle" ref="focusElement"></div>
                                    <div class="card-item__cover">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                            class="card-item__bg" />
                                    </div>

                                    <div class="card-item__wrapper">
                                        <div class="card-item__top">
                                            <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                                                class="card-item__chip" />
                                            <div class="card-item__type">
                                                <transition name="slide-fade-up">
                                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                        v-if="getCardType" v-bind:key="getCardType" alt=""
                                                        class="card-item__typeImg" />
                                                </transition>
                                            </div>
                                        </div>
                                        <label for="cardNumber" class="card-item__number" ref="cardNumber">
                                            <template v-if="getCardType === 'amex'">
                                                <span v-for="(n, $index) in amexCardMask" :key="$index">
                                                    <transition name="slide-fade-up">
                                                        <div class="card-item__numberItem"
                                                            v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">
                                                            *
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                            :class="{ '-active' : n.trim() === '' }" :key="$index"
                                                            v-else-if="cardNumber.length > $index">
                                                            {{cardNumber[$index]}}
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                            :class="{ '-active' : n.trim() === '' }" v-else
                                                            :key="$index + 1">
                                                            {{n}}
                                                        </div>
                                                    </transition>
                                                </span>
                                            </template>

                                            <template v-else>
                                                <span v-for="(n, $index) in otherCardMask" :key="$index">
                                                    <transition name="slide-fade-up">
                                                        <div class="card-item__numberItem"
                                                            v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">
                                                            *
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                            :class="{ '-active' : n.trim() === '' }" :key="$index"
                                                            v-else-if="cardNumber.length > $index">
                                                            {{cardNumber[$index]}}
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                            :class="{ '-active' : n.trim() === '' }" v-else
                                                            :key="$index + 1">
                                                            {{n}}
                                                        </div>
                                                    </transition>
                                                </span>
                                            </template>
                                        </label>
                                        <div class="card-item__content">
                                            <label for="cardName" class="card-item__info" ref="cardName">
                                                <div class="card-item__holder">Card Holder</div>
                                                <transition name="slide-fade-up">
                                                    <div class="card-item__name" v-if="cardName.length" key="1">
                                                        <transition-group name="slide-fade-right">
                                                            <span class="card-item__nameItem"
                                                                v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                                                v-if="$index === $index"
                                                                v-bind:key="$index + 1">{{n}}</span>
                                                        </transition-group>
                                                    </div>
                                                    <div class="card-item__name" v-else key="2">
                                                        Full Name
                                                    </div>
                                                </transition>
                                            </label>
                                            <div class="card-item__date" ref="cardDate">
                                                <label for="cardMonth" class="card-item__dateTitle">Expires</label>
                                                <label for="cardMonth" class="card-item__dateItem">
                                                    <transition name="slide-fade-up">
                                                        <span v-if="cardMonth"
                                                            v-bind:key="cardMonth">{{cardMonth}}</span>
                                                        <span v-else key="2">MM</span>
                                                    </transition>
                                                </label>
                                                /
                                                <label for="cardYear" class="card-item__dateItem">
                                                    <transition name="slide-fade-up">
                                                        <span v-if="cardYear"
                                                            v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                                                        <span v-else key="2">YY</span>
                                                    </transition>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-item__side -back">
                                    <div class="card-item__cover">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                            class="card-item__bg" />
                                    </div>
                                    <div class="card-item__band"></div>
                                    <div class="card-item__cvv">
                                        <div class="card-item__cvvTitle">CVV</div>
                                        <div class="card-item__cvvBand">
                                            <span v-for="(n, $index) in cardCvv" :key="$index"> * </span>
                                        </div>
                                        <div class="card-item__type">
                                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                v-if="getCardType" class="card-item__typeImg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-form__inner">
                            <div class="card-input">
                                <label for="cardNumber" class="card-input__label">Card Number</label>
                                <input type="text" id="cardNumber" class="card-input__input"
                                    v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput"
                                    v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off" />
                            </div>
                            <div class="card-input">
                                <label for="cardName" class="card-input__label">Card Holders</label>
                                <input type="text" id="cardName" class="card-input__input" v-model="cardName"
                                    v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName"
                                    autocomplete="off" />
                            </div>
                            <div class="card-form__row">
                                <div class="card-form__col">
                                    <div class="card-form__group">
                                        <label for="cardMonth" class="card-input__label">Expiration Date</label>
                                        <select class="card-input__input -select" id="cardMonth" v-model="cardMonth"
                                            v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                            <option value="" disabled selected>Month</option>
                                            <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12"
                                                v-bind:disabled="n < minCardMonth" v-bind:key="n">
                                                {{n < 10 ? '0' + n : n}} </option>
                                        </select>
                                        <select class="card-input__input -select" id="cardYear" v-model="cardYear"
                                            v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                            <option value="" disabled selected>Year</option>
                                            <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12"
                                                v-bind:key="n">
                                                {{$index + minCardYear}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-form__col -cvv">
                                    <div class="card-input">
                                        <label for="cardCvv" class="card-input__label">CVV</label>
                                        <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'"
                                            maxlength="4" v-model="cardCvv" v-on:focus="flipCard(true)"
                                            v-on:blur="flipCard(false)" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <button class="card-form__button" id="submitBtn">Submit</button>

                        </div>
                    </div>
                </div>

                <!-- Credit Card Section Ends -->


            </div>

        </section>

    </main>

    <footer></footer><!-- importing from footer.html file  -->

</body>

<!-- Notyf Script -->
<script src="../scripts/notyf.min.js" type="application/javascript"></script>
<script type="application/javascript">
    var notyf = new Notyf({
        duration: 5000 // Set your global Notyf configuration here
    });
</script>
<!-- Notyf Script -->

<!-- Card Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
<!-- Card Script -->


<!-- Header / Footer Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $("footer").load("../src/footer.html");
    });
    // $(function () {
    //     $("header").load("../src/header.html");
    // });
</script>
<!-- Header / Footer Script -->


<!-- Main Script -->
<script src="../scripts/checkout.js" type="application/javascript"></script>

</html>