* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fafafa;
}


/* Navbar  */
#container1 {
  background-color: #2a56a7;
}

#navbar {
  width: 100%;
  background-color: #2a56a7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  color: white;
  line-height: 24px;
}

#navbar>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#navbar>div:nth-child(2) a {
  text-decoration: none;
  color: white;
}

#navbar>div:nth-child(1)>p:nth-child(1),
#navbar>div:nth-child(2) a {
  font-weight: bold;
  font-size: small;
}

#navbar>div:nth-child(1)>p:nth-child(2) {
  font-size: small;
}

.leftDivLogo {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  width: 200px;
  height: 50px;
}

#navbar #logo {
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 20%;
  padding: 10px;
  text-transform: capitalize;
  font-size: 15px;
  margin: 0 30px;
}

#logo {
  background-color: royalblue;
}

.logoutBtn {
  padding: 10px;
  margin: 0px 10px;
  border: none;
  background-color: #39ae37;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.eventPageLinks * {
  cursor: pointer;
}

.leftDivNav {
  padding: 0 2%;
}


/* Container 2 */
#container2 {
  margin-top: 30px;
}

#container2 #box {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  padding: 0px 50px;
  background-color: white;
}

#container2 #box #b1 h1 {
  color: #4d4b4b;
  margin-bottom: 15px;
}

#container2 #box #b1 p {
  color: rgb(94, 92, 92);
  font-size: large;
  width: 80%;
  line-height: 25px;
  margin-bottom: 15px;
}

#container2 #box #b1 #buttons>button:nth-child(1) {
  background-color: #39ae37;
  border: none;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#container2 #box #b1 #buttons>button:nth-child(2) {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fafafa;
  border: none;
  color: rgb(39, 39, 39);
  font-weight: bold;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
}

#container2 #box #b2 {
  margin: 0px 50px;
}

#container2 #box #b2 div img {
  width: 100px;
}

/* Container 3 */

#container3 {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  gap: 20px;
}

#container3 p {
  color: rgb(51, 50, 50);
  padding: 10px;
}

#buttons {
  margin-top: 20px;
}

#createCogniBtn {
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #39ae37;
  text-decoration: none;

}

#container3 #tools {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
}

#container3 #tools div {
  border-radius: 5px;
}


/* Container 04 */

#container4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

#container4 button {
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 0px 10px;
  border: none;
  background-color: #39ae37;
  color: white;
  border-radius: 5px;
}

#username2 {
  text-transform: uppercase;
}



/* form for creating cogni +++++++++++++++++++++++++++ */
#createSlidoForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

#createSlidoForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#createSlidoForm input[type="date"],
#createSlidoForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#createSlidoForm button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#createSlidoForm button[type="submit"]:hover {
  background-color: #45a049;
}

#createSlidoForm button[type="submit"]:focus {
  outline: none;
}

#createSlidoForm button[type="submit"]:active {
  background-color: #3e8e41;
}


/* form for creating cogni ----------------------- */

/* Media Screens */
@media all and (max-width: 1000px) {

  #container2 #box {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    padding: 40px 60px;
    text-align: center;
  }

  #container2 #box #b1 p {
    color: rgb(94, 92, 92);
    font-size: large;
    width: 100%;
    line-height: 25px;
    margin-bottom: 15px;
  }

  #container2 #box #b2 {
    margin: 40px 0px;
  }
}

@media all and (max-width: 600px) {
  #navbar #search {
    display: none;
  }

  #navbar>div:nth-child(2) {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
  }

  #container2 #box {
    padding: 40px 60px;
    text-align: center;
  }

  #container2 #box #b1 #buttons>button:nth-child(1) {
    margin-bottom: 20px;
  }

  #container3 {
    display: none;
  }

  #container4 button {
    padding: 10px;
    margin: 0px 5px;
  }
}

@media all and (max-width: 500px) {
  #container4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* width: 60%; */
    gap: 10px;
    margin-bottom: 30px;
  }

  #container4 button {
    display: block;
  }
}

@media all and (min-width: 0px) and (max-width: 1400px) {
  #container3 #tools {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
}

/* Analytics Page */
#overview1 {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#overview1>div:nth-child(1) p {
  font-size: 20px;
  color: #2c2c2c;
}

#overview1>div:nth-child(2) {
  display: flex;
}

#overview1>div:nth-child(2)>div:nth-child(1) {
  border: 1px solid #797777;
  padding: 5px 8px;
  border-radius: 20px;
}

#overview1>div:nth-child(2) #range {
  border: none;
  cursor: pointer;
  outline: none;
}

#overview1>div:nth-child(2) button {
  background-color: #39ae37;
  border: none;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

/* Analytics Box */
#analyticsBox01 {
  width: 75%;
  margin: auto;
  margin-top: 30px;
}

#analyticsBox01>div {
  padding: 20px;
  width: 40%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  border-radius: 10px;
}

#analyticsBox01>div>div {
  display: flex;
  justify-content: space-between;
}

#a1 {
  color: red;
  font-size: larger;
  font-weight: bold;
}

#a1>div:nth-child(1)>div:nth-child(1) {
  background-color: #fde7e1;
  padding: 9px 11px;
  border-radius: 50%;
}

#b1 {
  margin-top: 35px;
}

hr {
  margin: 15px 0px;
  color: rgb(173, 173, 173);
}

@media all and (max-width: 1200px) {
  #analyticsBox01>div {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar div:nth-child(1) {
    margin-right: 20px;
  }

  #navbar div:nth-child(2) {
    display: flex;
    align-items: center;
  }

  #navbar form {
    margin-right: 20px;
  }

  #navbar #logo {
    display: block;
  }

  .logoutContainer {
    margin-left: 20px;
  }
}


@media all and (max-width: 800px) {
  #analyticsBox01>div {
    width: 100%;
  }

}


@media all and (max-width: 500px) {
  #overview1 {
    width: 75%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
    display: block;
    align-items: center;
  }

  #overview1>div:nth-child(2) {
    /* border: 1px solid blue; */
    margin-top: 20px;
  }
}

/* For screens smaller than 600px */
@media screen and (max-width: 600px) {

  #navbar #logo {
    display: none;
  }

}