* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  /* margin:-5px auto; */
  margin-top: 125px;
  width: 100%;
  /* border: 2px solid red; */
  /* margin:auto */
}



/* _________top-cont________ */



.code-enter {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 9px;
  border-radius: 2rem;
  border: 1px solid green;
  width: 45%;
  height: 15%;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(35, 79, 149);
  font-family: SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  /* border: 2px solid red; */
}

#search-heading {
  justify-content: center;
  align-items: center;
  margin: auto;
}

#search-heading>h2 {
  margin: 0 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
}



/* .code-enter > h2{
  margin: 0 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
  
} */

.code-enter>.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  padding: 3px;
  border-radius: 2rem;

}

.search>input {
  border: none;
  background-color: #fff;
  padding: 3px;
  font-size: 1rem;
  width: 20%;
}

.search>input:focus {
  outline: 0;
}

.search span {
  font-size: large;
  font-weight: 700;
  color: #1a73e8;
  cursor: pointer;
}


.top-header {
  width: 100%;
  /* border: 1px solid rebeccapurple; */
  margin-top: 50px;
  text-align: center;
}

.top-header>h1 {
  font-family: SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  font-size: 3.3rem;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0;
  margin-bottom: 10px;
}

.top-header>div>p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 15px;
  font-size: 1.35rem;
  line-height: 1.2rem;
}

.top-header>div {
  margin-top: 40px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  /* border: 2px solid red; */
}

.options>button {
  width: 18%;
  /* height: 20%; */
  padding: 17px 10px;
  /* margin: 0 5px; */
  font-size: 15px;
  /* border: 2px solid blue; */
}

.free {
  font: SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  /* padding: 0.9375rem 2rem; */
  /* font-size: 100%; */
  border: 0.0625rem solid #39ac37;
  border-radius: 0.25rem;
  background: #39ac37;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.free:hover {
  border: 0.0625rem solid black;
  background-color: black;
}

.demo {
  font-weight: 700;
  padding: 0;
  border: none;
  background: transparent;
  color: #39ac37;
  text-decoration: underline;
  cursor: pointer;
}

.demo:hover {
  text-decoration: none;
}

/* .vedio-top{
  width: 65%;
  margin: auto;
  border: 2px solid red;
} */

.top-header>.vedio-top>video:first-child {
  object-fit: contain;
  overflow: clip;
}


.heading6 {
  text-align: center;
  /* border: 1px solid green; */
  padding-top: 3.5rem;

}

.heading-img {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.heading-img>div>p {
  font-size: 20px;
}

.heading-img>div>img {
  width: 60px;
}

.heading6>h2 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

/* intro css ++++++++++++++++++++++++ */
.glassy-tooltip {
  background-color: rgba(57, 174, 55, 0.8);
  color: #fff;
  border: 2px solid rgba(57, 174, 55, 0.8);
  border-radius: 8px;
  padding: 10px;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(57, 174, 55, 0.5);
}

.glassy-highlight {
  background-color: rgba(57, 174, 55, 0.5);
  border: 2px solid rgba(57, 174, 55, 0.8);
  border-radius: 4px;
  backdrop-filter: blur(4px);
}


/* intro css ---------------------- */
@media (max-width:801px) {

  .code-enter {
    grid-template-columns: repeat(1, 1fr);
  }

  #top-heading {
    font-size: 30px;
  }

  #space {
    font-size: 15px;
  }

  .options>button {
    /* width: 18%; */
    /* padding: 5px; */
    font-size: 12px;

  }

  .heading6>h2 {
    font-size: 25px;

  }

  .heading-img>div>img {
    width: 40px;
  }

  .heading-img>div>p {
    font-size: 15px;
  }

}

@media (max-width:480px) {

  .code-enter {
    grid-template-columns: repeat(1, 1fr);
  }

  #top-heading {
    font-size: 30px;
  }

  #space {
    font-size: 15px;
  }

  .options>button {
    /* width: 18%; */
    /* padding: 5px; */
    font-size: 10px;

  }

}


/* _________top-cont_end________ */


/* _________ middle-cont start________ */

.middle-cont {
  padding: 5rem 1rem;
  text-align: center;
  /* border: 2px solid green; */
}



.heading1>h2 {
  font: 700 2rem/2.5rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  font-size: 2.7rem;
  line-height: 3.5rem;
  /* border: 1px solid saddlebrown; */
  margin: 10px;
}

.heading1>h2>span {
  color: #39ac37;
}

.heading1>div {
  padding: 16px 14rem 80px 14rem;
  /* border: 1px solid red; */
  font: 1.125rem/1.75rem arial, helvetica, Nimbus Sans L, Liberation Sans, freesans, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#content-div {
  width: 80%;
  margin: auto;
  font-size: 25px;
  /* border: 2px solid orange; */
}

.middle-videos {
  /* border: 1px solid green; */
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  object-fit: contain;
  margin-top: 50px;
  /* justify-content: space-between; */

}

.videos {
  /* width: 70%; */
  padding: 9% 5%;
  /* border: 1px solid black; */
}

.videos>video {
  width: 100%;
  object-fit: contain;

}

.middle-options {
  /* width: 30%; */
  /* border: 1px solid red; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.middle-options>.opt:first-child {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
  padding: 0;
}

.opt {
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0.25rem;
  padding-left: 2rem;
}

.opt>h3 {
  font: 700 1.5rem/2rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.opt>div {
  padding: 1rem;
  margin-bottom: 0;
  font: 1.125rem/1.75rem arial, helvetica, Nimbus Sans L, Liberation Sans, freesans, sans-serif;
}


.dis {
  display: none;
}

.middle-divs {
  padding: 40px;
  text-align: left;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.mdivs {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* border: 1px solid green; */
  /* padding-bottom: 1rem; */
}

.mdivs>img {
  display: inline-block;
  overflow: hidden;
  width: 48px;
  height: 49px;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.mdivs>p {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font: 1.125rem/1.75rem arial, helvetica, Nimbus Sans L, Liberation Sans, freesans, sans-serif;
  padding-top: 1rem;
}

.mdivs>h2 {
  font: 700 1.5rem/2rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  margin-top: 1rem;

}

.middle-logos {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  gap: 2rem;
  padding: 56px 0;
  list-style: none;
  /* border: 2px solid red; */
}

.middle-logos>li>img {
  width: 184px;
  height: 184px;
}

@media (max-width:801px) {

  .heading1>h2 {
    font-size: 2rem;
  }

  #content-div {
    font-size: 15px;

  }

  .middle-videos {
    grid-template-columns: repeat(1, 1fr);
  }

  .middle-divs {

    grid-template-columns: repeat(1, 1fr);

  }


  .middle-logos {

    grid-template-columns: repeat(1, 1fr);

  }

}

@media (max-width:480px) {}

/* _________ middle-cont end__________ */


/* ________bottom starts ____________ */

.bottom-cont {
  padding: 0 3.5rem;
  /* border: 2px solid red; */
}

.bottom-cont>h2 {
  font: 700 2rem/2.5rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  text-align: center;
  font-size: 2.6rem;
  line-height: 3.5rem;
  margin: 0;
}


.flex-cont {
  /* padding: 50px 0; */
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  gap: 50px;
  /* border : 1px solid blue; */
}

.img-big>img {
  /* margin-left: 20%; */
  /* margin-top: 20%; */

  width: 70%;
  /* height: 400px; */
  /* border: 2px solid red; */

}

.img-big {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* border: 2px solid red; */

}


.img-small>p {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  width: 90%;
}

.fiveimg {
  list-style: none;
  width: 100%;
  /* height: 100px; */
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 80px;
  padding: 60px 0px;
  background-color: #f5f5f5;
  /* margin-bottom: 0; */
}

.fiveimg>li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.greenheading {
  margin: 0;
  padding: 40px 0 70px 0;
  background-color: #39ac37;
  margin-bottom: 0;

}

.greenheading>h2 {
  text-align: center;
  font: 600 2rem/2.5rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  color: white;
}

.greenheading>button {
  display: block;
  margin: auto;
  padding: 1rem 3rem;
  font-size: larger;
  font-family: SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: 400;
}

.greenheading>button:hover {
  color: white;
  background-color: black;
}

.bottomlast {
  padding: 40px;
  background-color: #f5f5f5;
  display: block;
  margin: 0 auto;
}

.bottomlast>h2 {
  font: 700 1.75rem/2rem SlidoSansFont, SlidoSansFont-fallback, verdana, arial, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.cards {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding-bottom: 50px;
}

.cards>article>img {
  width: 100%;
}

.cards>article>h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: verdana, arial, sans-serif;
  text-align: center;
  text-align: left;
}

.cards a {
  font-size: larger;
  color: #39ac37;
}

.cards>article>h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cards a:hover {
  text-decoration: none
}

@media (max-width:801px) {

  .flex-cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-small {
    /* border: 2px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fiveimg {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .cards {

    grid-template-columns: repeat(1, 1fr);

  }

}

@media (max-width:480px) {}


/* ___________bottom ends_________ */


@media (max-width:1700px) {
  #main {
    padding: 0 8%;
  }

  .code-enter {
    width: 60%;
  }

}

@media (max-width:1200px) {
  .top-header>h1 {
    font-size: 2.5rem;
  }

  .img-small>p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 70%;
  }

  .bottom-cont {
    padding: 0 2rem;
  }

  .bottomlast {
    padding: 40px 10px;
  }

  .bottomlast>div {
    gap: 30px;
  }

  #main {
    padding: 0 2%;
  }

  .nav-log {
    margin-left: 10px;
  }

  nav {
    padding: 0 15px;
  }

  .vedio-top {
    width: 80%;
  }

  .mdivs>h2 {
    font-size: 1.1rem;
  }

  .mdivs {
    padding: 1.4rem;
  }

  .mdivs>p {
    font: 1.1rem/1.55rem arial, helvetica, Nimbus Sans L, Liberation Sans, freesans, sans-serif;
  }

  .opt>div {
    font: 1rem/1.75rem arial, helvetica, Nimbus Sans L, Liberation Sans, freesans, sans-serif;
  }

  .fdiv {
    padding: 10px;
    gap: 20px
  }

  .cards>article>h3 {
    font-size: 1.3rem;
  }
}


@media (max-width:1500px) {
  .nav-options {
    margin-left: 35px;

  }

  .options>button {
    width: 25%
  }

  .top-header>h1 {
    font-size: 3rem;
  }

  nav {
    margin: auto;
  }


  .fdiv {
    padding: 50px;
  }

  .cards {
    width: 90%;
  }

  .cards>article>h3 {
    font-size: 1.3rem;
  }

}

@media all and (max-width:599px) {

  .code-center>h2 {
    display: none;
  }

}