* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.section_sizing {
  width: 85%;
  margin: auto;
}




/* Navbar  */
#container1 {
  background-color: #2a56a7;
}

#navbar {
  width: 100%;
  background-color: #2a56a7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  color: white;
  line-height: 24px;
}

#navbar>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#navbar>div:nth-child(2) a {
  text-decoration: none;
  color: white;
}

#navbar>div:nth-child(1)>p:nth-child(1),
#navbar>div:nth-child(2) a {
  font-weight: bold;
  font-size: small;
}

#navbar>div:nth-child(1)>p:nth-child(2) {
  font-size: small;
}

.leftDivLogo {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  width: 200px;
  height: 50px;
}



#navbar #logo {
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 20%;
  padding: 10px;
  text-transform: capitalize;
  font-size: 15px;
  margin: 0 30px;
}

#logo {
  background-color: royalblue;
}

.logoutBtn {
  padding: 10px;
  margin: 0px 10px;
  border: none;
  background-color: #39ae37;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.eventPageLinks * {
  cursor: pointer;
}

.leftDivNav {
  padding: 0 2%;
}


@media screen and (max-width: 1200px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar div:nth-child(1) {
    margin-right: 20px;
  }

  #navbar div:nth-child(2) {
    display: flex;
    align-items: center;
  }

  #navbar #logo {
    display: block;
  }

  .logoutContainer {
    margin-left: 20px;
  }
}



/* For screens smaller than 600px */
@media screen and (max-width: 600px) {

  #navbar #logo {
    display: none;
  }

}

/* Navbar */




/* _______Main Section Starts______ */

main {
  background-color: whitesmoke;
  padding: 10px 0px;
  padding-bottom: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.box {
  background-color: white;
}

.box-1 {
  min-height: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 90%;
}

.box-2 {
  padding: 20px;
  padding-bottom: 50px;
}



#title {
  font-size: 40px;
}

.plan_title {
  font-size: 30px;
}

.price {
  font-size: 50px;
  font-weight: 10;
}

.annual-bill {
  color: grey;
  font-size: 12px;
}

.buy-button {
  width: 90%;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
}



#button-1 {
  background-color: darkcyan;
}

#button-1:hover {
  background-color: black;
}

#button-2 {
  background-color: darkgoldenrod;
}

#button-2:hover {
  background-color: black;
}

#button-3 {
  background-color: green;
}

#button-3:hover {
  background-color: black;
}

#button-4 {
  background-color: purple;
}

#button-4:hover {
  background-color: black;
}

#title-1 {
  color: darkcyan
}

#title-2 {
  color: darkgoldenrod;
}

#title-3 {
  color: green;
}

#title-4 {
  color: purple;
}

.extra {
  font-size: 12px;
}


.features {
  padding-left: 0pt;
}

.features-title {
  font-size: 15px;

}

.features>li {
  font-size: 15px;
  list-style: none;
  line-height: 30px;
}


@media screen and (max-width: 968px) {
  .container {

    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 768px) {
  .container {

    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* _______Main Section Ends______ */