* {
    box-sizing: border-box;
    font-family: sans-serif;

}

.section_sizing {
    width: 85%;
    /* border: 2px solid red; */
    margin: auto;
}


/* navbar */

#container1 {
    background-color: #2a56a7;

}

#navbar {
    width: 100%;
    background-color: #2a56a7;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
    line-height: 24px;
}

#navbar>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar>div:nth-child(2) a {
    text-decoration: none;
    color: white;
}

#navbar>div:nth-child(1)>p:nth-child(1),
#navbar>div:nth-child(2) a {
    font-weight: bold;
    font-size: small;
}

#navbar>div:nth-child(1)>p:nth-child(2) {
    font-size: small;
}

#navbar>div:nth-child(1) button {
    background-color: #4c71b5;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
}

#navbar .fa-search {
    background: #2a56a7;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#navbar #search {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
}

#navbar #logo {
    background-color: white;
    color: #2a56a7;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    padding: 10px;
    text-transform: capitalize;
    margin: 0 30px;
}


#username2 {
    text-transform: uppercase;
}

.logoutBtn {
    padding: 10px;
    margin: 0px 10px;
    border: none;
    background-color: #39ae37;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#searchForm {
    width: fit-content;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 1200px) {
    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    #navbar div:nth-child(1) {
      margin-right: 20px;
    }
  
    #navbar div:nth-child(2) {
      display: flex;
      align-items: center;
    }
  
    #navbar form {
      margin-right: 20px;
    }
  
    #navbar #logo {
      display: block;
    }
  
    .logoutContainer {
      margin-left: 20px;
    }
  }
  
  
  @media all and (max-width: 800px) {
    #analyticsBox01>div {
      width: 100%;
    }
    #navbar{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  
  @media all and (max-width: 500px) {
    #overview1 {
      width: 75%;
      /* border: 1px solid red; */
      margin: auto;
      margin-top: 30px;
      display: block;
      align-items: center;
    }
  
    #overview1>div:nth-child(2) {
      /* border: 1px solid blue; */
      margin-top: 20px;
    }
  }
  /* For screens smaller than 600px */
  @media screen and (max-width: 600px) {
    #navbar {
      flex-direction: column;
    }
    
    #navbar div:nth-child(1) {
      margin-bottom: 20px;
    }
  
    #navbar div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #navbar form {
      margin-bottom: 20px;
    }
  
    #navbar #logo {
      display: none;
    }
  
    .logoutContainer {
      margin-top: 20px;
    }
  }


  @media all and (max-width: 600px) {
    #navbar #search {
      display: none;
    }
  
    #navbar>div:nth-child(2) {
      display: flex;
      width: 150px;
      align-items: center;
      justify-content: space-between;
    }
  
    #container2 #box {
      padding: 40px 60px;
      text-align: center;
    }
  
    #container2 #box #b1 #buttons>button:nth-child(1) {
      margin-bottom: 20px;
    }
  
    #container3 {
      display: none;
    }
  
    #container4 {}
  
    #container4 button {
      padding: 10px;
      margin: 0px 5px;
    }
  }

/* navbar */




/* _______Main Section Starts______ */

main {
    /* margin-top: -20px; */
    background-color: whitesmoke;
    padding: 10px 0px;
    padding-bottom: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.box {
    background-color: white;
}

.box-1 {
    min-height: 200px;
    /* border: 2px solid black; */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

hr {
    width: 90%;
}

.box-2 {
    padding: 20px;
    padding-bottom: 50px;
}



#title {
    font-size: 40px;
}

.plan_title {
    font-size: 30px;
}

.price {
    font-size: 50px;
    font-weight: 10;
}

.annual-bill {
    color: grey;
    font-size: 12px;
}

.buy-button {
    width: 90%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
}



#button-1 {
    background-color: darkcyan;
}

#button-1:hover {
    background-color: black;
}

#button-2 {
    background-color: darkgoldenrod;
}

#button-2:hover {
    background-color: black;
}

#button-3 {
    background-color: green;
}

#button-3:hover {
    background-color: black;
}

#button-4 {
    background-color: purple;
}

#button-4:hover {
    background-color: black;
}

#title-1 {
    color: darkcyan
}

#title-2 {
    color: darkgoldenrod;
}

#title-3 {
    color: green;
}

#title-4 {
    color: purple;
}

.extra {
    font-size: 12px;
}

.feautures-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    border: 2px solid red
}

.features {
    align-self: flex-start;
}

.features-title {
    font-size: 15px;
}

.features>li {
    font-size: 15px;
}


@media screen and (max-width: 968px) {
    .container {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 768px) {
    .container {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 480px) {
    .container {

        grid-template-columns: repeat(1, 1fr);
        /* margin: auto; */

    }
}

/* _______Main Section Ends______ */

