#loding_container {
    display: none;
    transition: ease-in-out 0.5s;
}

#loding_div {
    position: fixed;
    top: 200px;
    left: 20%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;
}

#loding_div>img {
    width: 100px;
    margin-right:40%;
}

#loding_div>h2 {
    text-align: center;
    color: #ee0606;
    font-size: 35px;
    font-weight: bolder;
}

#container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

#left-fixed {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(57, 174, 55);
    color: white;
    font-weight: bold;
    padding: 3%;
    padding-top: 10%;

}

#left-fixed-btn {
    height: 60px;
    width: 80%;
    /* margin: auto; */
    background-color: white;
    color: black;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;



}

#left-fixed-btn input {
    width: 50%;
    border: none;

}
#left-fixed-btn input:focus{
    outline: none;
}

#left-fixed-btn button {
    border-radius: 50px;
    background-color: rgb(57, 174, 55);
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
#left-fixed p {
    text-align: left;
    font-weight: 100;
}
.fa-solid{
    font-size: x-large;
   
}
.fa-hashtag{
    font-size: xx-large;
    margin-left: 20px;
}
.invert_effect {
    filter: invert(100%);
}

#logo-img {
    width: 25%;
    height: 15%;
    margin-left: 37%;


}

#signup-cont {
    margin-left: 50%;
    margin-top: 5%;
  
    

}

#signup-cont h1,
p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  
}
#signup-cont p {
    font-weight: 100;
}

#google {
    background-color: white;
    border-radius: 5px;
    border: 1p solid gray;
    padding: 5px;
    width: 65%;
   margin-bottom: 10px;
    margin-left: 18%;
    
}

#google img {
    width: 7%;
    margin: auto;
}
#github {

    background-color: white;
    border-radius: 5px;
    border: 1p solid gray;
    padding: 5px;
    margin-top: 10px;
   
    width: 65%;
    margin: auto;
    margin-left: 18%;
}

#github img {
    width: 7%;
    /* margin: auto; */
}

#signup-cont form {

    width: 80%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
  
}
form input {
    width: 80%;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

form #sub-btn {
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: rgb(57, 174, 55);
    color: white;
    border: none;
    border-radius: 5px;
}

form #sub-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;

}

@media all and (max-width:1200px) {
    /* tablet */
    #signup-cont{
        margin: auto;
        width: 100%;
    }
    
    #container {
        flex-direction: column-reverse;
    }
    #container{
        width: 100%;
        margin: 0px;
       }
    #google {
        width: 80%;
        margin: auto;
    }
    #github{
        width: 80%;
        margin: auto;
    }
    
    #left-fixed {
        width: 100%;
        position: relative;
        height: auto;
        
    }
}
 


@media all and (max-width:599px) {

    /* mobile */
   
    #signup-cont{
        width: 100%;
        margin: auto;
        padding: 5%;
    }
    #google {
        width: 80%;
        margin: auto;
    }
    #github {
        width: 80%;
        margin: auto;
    }
    #container{
        padding-top: 0px;
        flex-direction: column-reverse;
    }
    #container{
         width: 100%;
         margin: 0px;
        }
    #container {
        flex-direction: column-reverse;
    }
    #left-fixed {
        width: 100%;
        position: relative;
        height: auto;
        
    }
}




